.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

// .mat-form-field {
//     font-size: 14px;
//     width: 100%;
// }

.container {
    max-width: 90%;
    margin: auto;
}

.grid {
    // margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 7px;
    row-gap: 1px;
}

e * {
    font-family: 'Kanit', sans-serif;

}

.blue-icon {
    color: rgb(43, 22, 236);
}

.red-icon {
    color: red;
}

.spinner {
    width: 50px !important;
    height: 50px;
    border: 8px solid blue;
    border-top: 8px solid #fff;
    margin-left: 50%;
    border-radius: 50%;
    animation: load 1s linear infinite;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.centre {
    text-align: center
}

.mat-sort-header-container {
    justify-content: center;
}

.mat-header-cell {
    text-align: center !important;
}

.close-button {
    float: center;
    top: -20px;
    right: -54rem;
}

.cleardoc-button {
    float: center;
    top: 10px;
    // right: -23px;

}

.close-icon {
    transition: 1s ease-in-out;
}

.close-icon:hover {
    transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
    float: right;
    top: -52px;
    right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset
}