<div class="dialog-container">
    <div>{{ titleNstInfo }}</div>
    <form [formGroup]="nstFormGroup">
        <div style="margin-top: 5px">
            <mat-form-field appearance="outline">
                <mat-label>ลำดับ รด.25</mat-label>
                <input formControlName="nstRd25" maxlength="20" matInput placeholder="ลำดับ รด.25" autocomplete="off"
                    readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>#ประชาชน</mat-label>
                <input formControlName="regPid" maxlength="30" matInput placeholder="#ประชาชน" autocomplete="off"
                    readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>#นศท.</mat-label>
                <input formControlName="nstId" maxlength="20" matInput placeholder="#นศท." autocomplete="off"
                    readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>#รด.3</mat-label>
                <input formControlName="rd3No" maxlength="20" matInput placeholder="#รด.3" autocomplete="off" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>#ประจำตัว(สด.3)</mat-label>
                <input formControlName="toSd3MiSignNo" maxlength="20" matInput placeholder="#ประจำตัว(สด.3)"
                    autocomplete="off" readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ชื่อ</mat-label>
                <input formControlName="regFname" maxlength="20" matInput placeholder="ชื่อ" autocomplete="off"
                    readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>นามสกุล</mat-label>
                <input formControlName="regLname" maxlength="20" matInput placeholder="นามสกุล" autocomplete="off"
                    readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>สัญชาติ</mat-label>
                <input formControlName="regNat" maxlength="20" matInput placeholder="สัญชาติ" autocomplete="off" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ศาสนา</mat-label>
                <input formControlName="regReleg" maxlength="20" matInput placeholder="ศาสนา" autocomplete="off" />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 11vw">
                <mat-label>วัน/เดือน/ปี เกิด</mat-label>
                <input matInput [matDatepicker]="pickerBirthDay" formControlName="regBirthday" readonly />
                <mat-datepicker-toggle matSuffix [for]="pickerBirthDay"></mat-datepicker-toggle>
                <mat-datepicker #pickerBirthDay></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ชั้นปีที่</mat-label>
                <input formControlName="nstAtClass" maxlength="20" matInput placeholder="ชั้นปีที่" autocomplete="off"
                    readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>เพศ</mat-label>
                <input formControlName="regSex" maxlength="20" matInput placeholder="เพศ" autocomplete="off" readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ปีการศึกษา</mat-label>
                <input formControlName="atYear" maxlength="20" matInput placeholder="ปีที่สำเร็จวิชาทหาร"
                    autocomplete="off" readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>#สถานศึกษาวิชาทหาร</mat-label>
                <input formControlName="regSchoolId" maxlength="20" matInput placeholder="#สถานศึกษาวิชาทหาร"
                    autocomplete="off" readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ชื่อสถานศึกษาวิชาทหาร</mat-label>
                <input formControlName="regSchoolName" maxlength="20" matInput placeholder="ชื่อสถานศึกษาวิชาทหาร"
                    autocomplete="off" readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>สถานภาพ</mat-label>
                <input formControlName="nstStatusId" maxlength="50" matInput placeholder="สถานภาพ นศท."
                    autocomplete="off" readonly />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 11vw">
                <mat-label>วัน/เดือน/ปี สำเร็จการฝึกฯ</mat-label>
                <input matInput [matDatepicker]="pickerApproved" formControlName="nstApproveDate" readonly />
                <mat-datepicker-toggle matSuffix [for]="pickerApproved"></mat-datepicker-toggle>
                <mat-datepicker #pickerApproved></mat-datepicker>
            </mat-form-field>
            <div>
                {{ titleMiAddr }}
                <button style="margin-left: 8px; margin-bottom: 9px" mat-raised-button color="primary">
                    เชื่อมโยงข้อมูล <-> Recruit 4.0
                </button>
            </div>
            <div class="dialog-container">
                <mat-form-field appearance="outline">
                    <mat-label>บ้านเลขที่-ภูมิลำเนาทหาร</mat-label>
                    <input formControlName="regArmyAddress" maxlength="20" matInput
                        placeholder="บ้านเลขที่-ภูมิลำเนาทหาร" autocomplete="off" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>มทบ.-ภูมิลำเนาทหาร</mat-label>
                    <input formControlName="regArmyAddress" maxlength="20" matInput placeholder="มทบ.-ภูมิลำเนาทหาร"
                        autocomplete="off" />
                </mat-form-field>
                <input [(ngModel)]="selectedProvinceOutPut" formControlName="regArmyProvince" maxlength="30" matInput
                    placeholder="จังหวัด-ภูมิลำเนาทหาร" autocomplete="off" hidden />
                <app-provinceslist selected="{{ selectedProvinceOutPut }}" selectDisabled="{{ provinceSelectDisable }}"
                    selectLabel="จังหวัด-ภูมิลำเนาทหาร"
                    (selectChangeValue)="getSelectProvinceChangeValue($event)"></app-provinceslist>
                <input [(ngModel)]="selectedAmphurOutPut" formControlName="regArmyAmphur" maxlength="20" matInput
                    placeholder="อำเภอ-ภูมิลำเนาทหาร" autocomplete="off" hidden />
                <app-amphurlist selected="{{ selectedAmphurOutPut }}" selectDisabled="{{ amphurSelectDisable }}"
                    selectLabel="อำเภอ-ภูมิลำเนาทหาร" getAmphurByProvince="{{ getAmphurByProvince }}"
                    (selectChangeValue)="getSelectAmphurChangeValue($event)"></app-amphurlist>
                <input [(ngModel)]="selectedDistrictOutPut" formControlName="regArmyDistrict" maxlength="20" matInput
                    placeholder="ตำบล-ภูมิลำเนาทหาร" autocomplete="off" hidden />
                <app-districtlist selected="{{ selectedDistrictOutPut }}" selectDisabled="{{ districtSelectDisable }}"
                    selectLabel="ตำบล-ภูมิลำเนาทหาร" getDistrictsByAmphur="{{ getDistrictsByAmphur }}"
                    (selectChangeValue)="getSelectDistrictChangeValue($event)"></app-districtlist>
                <mat-form-field appearance="outline">
                    <mat-label>ส่วนสูง(ซม.)</mat-label>
                    <input formControlName="regHeight" maxlength="20" matInput placeholder="ส่วนสูง"
                        autocomplete="off" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>รอบตัว(ซม.) </mat-label>
                    <input formControlName="regAround" maxlength="20" matInput placeholder="รอบตัว"
                        autocomplete="off" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>ตำหนิสำคัญ</mat-label>
                    <input formControlName="toSd3Scar" maxlength="20" matInput placeholder="ตำหนิสำคัญ"
                        autocomplete="off" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อ-นามสกุล บิดา</mat-label>
                    <input formControlName="fatherName" maxlength="20" matInput placeholder="ชื่อ-นามสกุล บิดา"
                        autocomplete="off" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>สัญชาติบิดา</mat-label>
                    <input formControlName="regFNat" maxlength="20" matInput placeholder="สัญชาติบิดา"
                        autocomplete="off" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>บิดาประกอบอาชีพ</mat-label>
                    <input formControlName="fatherCareer" maxlength="20" matInput placeholder="อาชีพบิดา"
                        autocomplete="off" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อ-นามสกุล มารดา</mat-label>
                    <input formControlName="motherName" maxlength="20" matInput placeholder="ชื่อ-นามสกุล มารดา"
                        autocomplete="off" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>มารดาประกอบอาชีพ</mat-label>
                    <input formControlName="motherCareer" maxlength="20" matInput placeholder="อาชีพมารดา"
                        autocomplete="off" />
                </mat-form-field>
            </div>
            <div style="margin-left: 8px; margin-bottom: 9px">
                {{ titleMiRegister }}
            </div>

            <mat-form-field appearance="outline" hidden>
                <mat-label>ปีที่นำตัวขึ้นทะเบียนฯ</mat-label>
                <input formControlName="toSd3AtYear" maxlength="20" matInput placeholder="ปีที่นำตัวขึ้นทะเบียนฯ"
                    autocomplete="off" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ชุดที่</mat-label>
                <input formControlName="toSd3" maxlength="20" matInput placeholder="ชุดที่นำตัวขึ้นทะเบียนฯ"
                    autocomplete="off" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>แผนก</mat-label>
                <input formControlName="toSd3MiDept" maxlength="20" matInput placeholder="แผนก" autocomplete="off" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>เหล่า</mat-label>
                <input formControlName="toSd3MiCorps" maxlength="20" matInput placeholder="เหล่า" autocomplete="off" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>รู้วิชา(พลเรือน)</mat-label>
                <input formControlName="toSd3Edu" maxlength="20" matInput placeholder="รู้วิชา(พลเรือน)"
                    autocomplete="off" />
            </mat-form-field>




            <mat-form-field appearance="outline" style="width: 11vw">
                <mat-label>วัน/เดือน/ปี นำตัวขึ้นทะเบียนฯ</mat-label>
                <input matInput [matDatepicker]="pickerSaveDate" formControlName="toSd3SaveDate" />
                <mat-datepicker-toggle matSuffix [for]="pickerSaveDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerSaveDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>กองหนุนสังกัด</mat-label>
                <input formControlName="reserveMtb" maxlength="20" matInput placeholder="กองหนุนสังกัด"
                    autocomplete="off" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>หมายเหตุ</mat-label>
                <input formControlName="regArmyNote" maxlength="30" matInput placeholder="บันทึกหมายเหตุ"
                    autocomplete="off" />
            </mat-form-field>
        </div>
    </form>

    <div>
        <!-- <button *ngIf="isSaveBtn" style="margin-left: 8px" mat-raised-button color="primary" [disabled]="isSaveBtn"
          (click)="saveCheckIn(nstFormGroup.value)">
          บันทึก
        </button> -->
        <button style="margin-left: 8px" mat-raised-button color="primary"
            [disabled]="nstFormGroup.invalid || !isSaveBtn" (click)="saveNstMiINfo(nstFormGroup.value)">
            บันทึก
        </button>
        <button style="margin-left: 8px" mat-raised-button color="warn" [disabled]="!isEditBtn"
            (click)="updateCheckIn()">
            บันทึกการแก้ไข
        </button>
        <button style="margin-left: 8px" mat-raised-button color="warn" [disabled]="!isDeleteBtn"
            (click)="deleteCheckIn()">
            ยืนยันการลบ
        </button>
        <button style="margin-left: 8px" mat-raised-button color="primary" (click)="onClose()">
            ปิด
        </button>
    </div>
    <!-- </div>
  </form> -->
</div>