.example-spacer {
    flex: 1 1 auto;
  }

  *.left-space {   
    padding-left: 30px;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  * {
    font-family: 'Kanit',sans-serif;
  }