<mat-form-field *ngIf="selected" appearance="outline">
  <mat-label>{{ selectLabel }}</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="onChange($event)" [disabled]="!selectDisabled"><input matInput
      placeholder="search" #inputSearch />
    <mat-option *ngFor="let r of listReligion | searchreligion : inputSearch.value" [value]="r.religion_ID">{{
      r.religion_DESC }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="!selected" appearance="outline">
  <mat-label>{{ selectLabel }}</mat-label>
  <mat-select [disabled]="selectDisabled" (focus)="onFocus(selectedReligionId)"
    (selectionChange)="onChange($event)"><input matInput placeholder="search" #inputSearch />
    <mat-option *ngFor="let n of listReligion | searchreligion : inputSearch.value" [value]="n.religion_ID">{{
      n.religion_DESC }}
    </mat-option>
  </mat-select>
</mat-form-field>