<p>{{title}} ปีงบประมาณ : {{budgetyear}} รหัสการเบิกงบประมาณ : {{withdrawid}}</p>
<div *ngIf="showlistunit">
  <app-listunitform selected={{selected}} (selectchange)="onUnitChange()"></app-listunitform>
</div>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="person_select">
    <th mat-header-cell *matHeaderCellDef> เลือก </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox #checkBox [value]="element.position" (change)="getCheckbox(element.person_pid)"
        disabled={{checkboxdisabled}}></mat-checkbox>
    </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="person_pid">
    <th mat-header-cell *matHeaderCellDef> เลขประจำตัวประชาชน </th>
    <td mat-cell *matCellDef="let element"> {{element.person_pid}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="person_rank_brief_name">
    <th mat-header-cell *matHeaderCellDef> ยศ </th>
    <td mat-cell *matCellDef="let element"> {{element.person_rank_brief_name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="person_fname">
    <th mat-header-cell *matHeaderCellDef> ชื่อ </th>
    <td mat-cell *matCellDef="let element"> {{element.person_fname}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="person_lname">
    <th mat-header-cell *matHeaderCellDef> นามสกุล </th>
    <td mat-cell *matCellDef="let element"> {{element.person_lname}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="person_position">
    <th mat-header-cell *matHeaderCellDef> ตำแหน่ง </th>
    <td mat-cell *matCellDef="let element"> {{element.person_position}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>