:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.container {
    max-width: 100%;
    min-height: 100%;
    margin: 10 auto;
}

.blue-icon {
    color: rgb(43, 22, 236);
}

.red-icon {
    color: red;
}

.spinner {
    width: 50px !important;
    height: 50px;
    border: 8px solid blue;
    border-top: 8px solid #fff;
    margin-left: 50%;
    border-radius: 50%;
    animation: load 1s linear infinite;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.centre {
    text-align: center
}

.text-left {
    text-align: left !important
}

.mat-sort-header-container {
    justify-content: center;
}

td.mat-cell,
th.mat-header-cell {
    text-align: center;
    justify-content: center;
}

.box {
    display: flex;

}

.push {

    margin-left: auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

* {
    font-family: 'Kanit', sans-serif;
}

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

mat-toolbar {
    background: white;
}

.close-button {
    float: right;
    top: 0%;
    // right: -9px;
}

// .close-button {
//     float: center;
//     top: -20px;
//     right: -54rem;
// }

.close-icon {
    transition: 1s ease-in-out;
}

.close-icon:hover {
    transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
    float: right;
    top: -52px;
    right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset
}